<!DOCTYPE html>
{% extends 'frontend/base2.html' %}
{% load staticfiles %}
{% block title %}
<title>About</title>
{% endblock %}

{% block page_title %}
<section id="sectionTitle">
  <div class="pageTitle">
    <h1>About Us</h1>
  </div>
</section>
<!-- END OF PAGE TITLE -->
{% endblock%}

{% block content %}
<div class="col-sm-9 text-center" id="mainContent">
  <div class="row">
    {% if about_key %}
    {% for abt in about_key %}
    <div class="col-sm-4">
      <a href="/detail_page/{{ abt.id }}">
          <img src="{{ abt.img.url }}" class="img-circle">
      </a>
      <h2>{{ abt.title }}</h2>
      <a href="/detail_page/{{ abt.id }}" class="btn btn-primary">Readmore</a>
    </div>
    {% endfor %}
    {% else %}
    <p>No Data showing</p>
    {% endif %}

  </div>
</div>
{% endblock %}
