<!DOCTYPE html>
{% extends 'frontend/base2.html' %}
{% load staticfiles %}
{% block title %}
<title>{{ detail_key.title }}</title>
{% endblock %}

{% block page_title %}
<section id="sectionTitle">
  <div class="pageTitle">
    <h1>About Us</h1>
  </div>
</section>
<!-- END OF PAGE TITLE -->
{% endblock%}

{% block content %}
{% if detail_key %}
<div class="col-sm-9 text-center" id="detailContent">
    <div class="contain-img">
      <div class="img-div">
          <img src="{{ detail_key.img.url }}" class="img-responsive">
      </div>
    </div>
    <div class="detail-content">
      <h2>{{ detail_key.title }}</h2>
      <p>
        {{ detail_key.description | safe  }}
      </p>
    </div>

</div>
{% endif %}
{% endblock %}
