<!DOCTYPE html>
{% extends 'frontend/base1.html' %}
{% load staticfiles %}
{% block title %}
<title>Home</title>
{% endblock %}

{% block body %}
<section id="services" class="text-center">
  <div class="page-header">
    <h1>Services</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <span class="fa fa-android"></span>
      <h1>Mobile Development</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nemo, id expedita at molestias hic odit amet officiis laboriosam vero optio inventore dolorum accusantium fugiat accusamus blanditiis ratione, doloribus voluptates.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nemo, id expedita at molestias hic odit amet officiis laboriosam vero optio inventore dolorum accusantium fugiat accusamus blanditiis ratione, doloribus voluptates.
      </p>
      <a href="#" class="btn btn-primary">Readmore</a>
    </div>
    <div class="col-sm-4">
      <span class="fa fa-apple"></span>
      <h1>Software Development</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nemo, id expedita at molestias hic odit amet officiis laboriosam vero optio inventore dolorum accusantium fugiat accusamus blanditiis ratione, doloribus voluptates.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nemo, id expedita at molestias hic odit amet officiis laboriosam vero optio inventore dolorum accusantium fugiat accusamus blanditiis ratione, doloribus voluptates.
      </p>
      <a href="#" class="btn btn-primary">Readmore</a>
    </div>
    <div class="col-sm-4">
      <span class="fa fa-code"></span>
      <h1>Web Development</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nemo, id expedita at molestias hic odit amet officiis laboriosam vero optio inventore dolorum accusantium fugiat accusamus blanditiis ratione, doloribus voluptates.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nemo, id expedita at molestias hic odit amet officiis laboriosam vero optio inventore dolorum accusantium fugiat accusamus blanditiis ratione, doloribus voluptates.
      </p>
      <a href="#" class="btn btn-primary">Readmore</a>
    </div>
  </div>
</section>
{% endblock %}
