{% extends 'themes/base.html' %}
{% load staticfiles %}
{% block title%}

<title> {{about_key}} </title>

{% endblock %}

{% block content %}


  <div id="aboutContent">
      <img src="{% static 'Images/bg.jpg'%}" alt="">
    <h2>About Us</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium at recusandae
      ut eligendi accusamus et delectus qui reiciendis necessitatibus, cupiditate quis
      eos blanditiis. Iste, fugit optio aspernatur impedit numquam accusamus.
    </p>

  </div>



{% endblock %}
