{% extends 'themes/base.html' %}
{% load staticfiles %}
{% block title%}

<title> {{home_key}} </title>

{% endblock %}

{% block content %}


  <div id="mainContent" class="column">
    <h2>Liquid Layout</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae molestiae tenetur rerum vel repudiandae, sint reprehenderit! Perferendis est quaerat esse labore. Nesciunt voluptatibus, in animi velit inventore veniam veritatis dicta.
    </p><p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae molestiae tenetur rerum vel repudiandae, sint reprehenderit! Perferendis est quaerat esse labore. Nesciunt voluptatibus, in animi velit inventore veniam veritatis dicta.
    </p><p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae molestiae tenetur rerum vel repudiandae, sint reprehenderit! Perferendis est quaerat esse labore. Nesciunt voluptatibus, in animi velit inventore veniam veritatis dicta.
    </p><p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae molestiae tenetur rerum vel repudiandae, sint reprehenderit! Perferendis est quaerat esse labore. Nesciunt voluptatibus, in animi velit inventore veniam veritatis dicta.
    </p><p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae molestiae tenetur rerum vel repudiandae, sint reprehenderit! Perferendis est quaerat esse labore. Nesciunt voluptatibus, in animi velit inventore veniam veritatis dicta.
    </p>
  </div>
  <aside id="sidebar" class="column">
    <h3>Aside Content</h3>
    <img src="{% static 'Images/item4.jpg'%}" alt="">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam recusandae eligendi illum iusto sunt porro, quas. At possimus, optio repudiandae eos delectus, impedit consectetur magni eligendi voluptas numquam sed. Facere!
    </p><p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam recusandae eligendi illum iusto sunt porro, quas. At possimus, optio repudiandae eos delectus, impedit consectetur magni eligendi voluptas numquam sed. Facere!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam recusandae eligendi illum iusto sunt porro, quas. At possimus, optio repudiandae eos delectus, impedit consectetur magni eligendi voluptas numquam sed. Facere!
    </p><p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam recusandae eligendi illum iusto sunt porro, quas. At possimus, optio repudiandae eos delectus, impedit consectetur magni eligendi voluptas numquam sed. Facere!
    </p><p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam recusandae eligendi illum iusto sunt porro, quas. At possimus, optio repudiandae eos delectus, impedit consectetur magni eligendi voluptas numquam sed. Facere!
    </p><p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam recusandae eligendi illum iusto sunt porro, quas. At possimus, optio repudiandae eos delectus, impedit consectetur magni eligendi voluptas numquam sed. Facere!
    </p>
  </aside>


{% endblock %}
