{% extends 'themes/base.html' %}
{% load staticfiles %}
{% block title%}

<title> {{about_key}} </title>

{% endblock %}

{% block body %}

<section id="sectionTitle">
        <div class="pageTitle">
          <h1>About Us</h1>
        </div>
      </section>
      <!-- END OF PAGE TITLE -->
      <section id="content">
        <div class="row">
          <div class="col-sm-9 text-center" id="mainContent">
            <div class="row">
              <div class="col-sm-4">
                <a href="detail.html">
                    <img src="{% static 'images/mark.jpg' %}" class="img-circle">
                </a>
                <h2>Mark Zuckerbarg</h2>
                <a href="detail.html" class="btn btn-primary">Readmore</a>
              </div>
              <div class="col-sm-4">
                <a href="detail.html">
                  <img src="{% static 'images/jerry.jpg' %}" class="img-circle">
                </a>
                <h2>Jerry Jang</h2>
                <a href="detail.html" class="btn btn-primary">Readmore</a>
              </div>
              <div class="col-sm-4">
                <a href="detail.html">
                  <img src="{% static 'images/mayer.jpg' %}" class="img-circle">
                </a>
                <h2>Marrissa Mayer</h2>
                <a href="detail.html" class="btn btn-primary">Readmore</a>
              </div>
            </div>
          </div>
          <aside class="col-sm-3" id="sideBar">
            <div class="widget">
              <h3>Menu</h3>
              <ul class="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="widget">
              <h3>Branches</h3>
              <ul class="nav">
                <li><a href="#">Ikeja</a></li>
                <li><a href="#">Festac</a></li>
                <li><a href="#">Surulere</a></li>
                <li><a href="#">Lekki</a></li>
              </ul>
            </div>
          </aside>
          <!-- END OF ASIDE CONTENT -->
        </div>
      </section>

      {% endblock %}
