{% extends 'themes/base.html' %}
{% load staticfiles %}
{% block title%}

<title> {{contact_key}} </title>

{% endblock %}

{% block body %}

<section id="sectionTitle">
  <div class="pageTitle">
    <h1>Contact</h1>
  </div>
</section>
<!-- END OF PAGE TITLE -->
<section id="content">
  <div class="row">
    <div class="col-sm-9 text-center" id="mainContent">
      <div class="row">
        <div class="col-sm-12">
          <form action="process.php" class="form" method="post">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="labelUser">Name</label>
                  <input type="text" name="name" id="labelUser" placeholder="Your Name" class="form-control">
                </div>
              </div>
              <!-- END OF NAME -->
             <div class="col-sm-6">
                <div class="form-group">
                 <label for="labelPhone">Phone No</label>
                 <input type="text" name="phoneNo" id="labelPhone" placeholder="Your Phone" class="form-control">
               </div>
             </div>
             <!-- END OF PHONE -->
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="labelEmail">Email</label>
                  <input type="text" name="subject" id="labelSubject" class="form-control" placeholder="Your Email">
                </div>
              </div>
              <!-- END OF EMAIL -->
             <div class="col-sm-6">
                <div class="form-group">
                 <label for="labelReferer">Referer</label>
                 <select id="labelReferer" class="form-control" name="referer">
                   <option value="Facebook">Facebook</option>
                   <option value="Twitter">Twitter</option>
                   <option value="Instagram">Instagram</option>
                   <option value="Nairaland">Nairaland</option>
                 </select>
               </div>
             </div>
             <!-- END OF REFERER -->
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Gender</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <label>
                    <input type="radio" name="gender" value="Male">
                    Male
                  </label>
                  <label>
                    <input type="radio" name="gender" value="Female">
                    Female
                  </label>
                </div>
              </div>
            </div>
            <!-- END OF GENDER -->

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="labelMessage">Message</label>
                  <textarea name="message" id="labelMessage" class="form-control"> </textarea>
                </div>
              </div>
              <input type="submit" name="send" value="Send" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
    <aside class="col-sm-3" id="sideBar">
      <div class="widget">
        <h3>Menu</h3>
        <ul class="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="widget">
        <h3>Branches</h3>
        <ul class="nav">
          <li><a href="#">Ikeja</a></li>
          <li><a href="#">Festac</a></li>
          <li><a href="#">Surulere</a></li>
          <li><a href="#">Lekki</a></li>
        </ul>
      </div>
    </aside>
    <!-- END OF ASIDE CONTENT -->
  </div>
</section>

{% endblock %}
