<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block title %}
    <title> </title>

    {% endblock %}
  </head>
  <body>
         <a href="{% url 'index' %}"> Home </a> &nbsp; &nbsp; &nbsp;
         <a href="{% url 'about' %}"> About </a> &nbsp; &nbsp; &nbsp;
         <a href="{% url 'contact' %}"> Contact </a> &nbsp; &nbsp; &nbsp;
         <a href="{% url 'services' %}"> services </a> &nbsp; &nbsp; &nbsp;
         {% block content%}

         {% endblock %}

         <h3 id="beforeFooter"> before footer</h3>
         <footer>
           <h4> footer</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor minus maxime beatae debitis doloremque officia consequatur perspiciatis error assumenda tempore non, nulla sapiente laboriosam hic, incidunt optio fugiat quo fuga.</p>
         </footer>

        <script src="{% static 'js/script.js' %}"></script>


  </body>
</html>
