<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% block title %}
	{% endblock %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

	<div id="container">
		<header id="siteHeader">

		</header>
		<nav id="navbar">
			<ul class="menu">
				<li><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'about' %}">About</a></li>

			</ul>
		</nav>

		<section id="content">
		{% block site_body %}
		{% endblock %}
		</section>

		<footer id="siteFooter">
			<p>
				&copy; 2018
			</p>
		</footer>
	</div>

</body>
</html>
